.page {
    background-color: #E6E6E6;
    width: 100%;
    font-family: SourceSansPro, Arial, Helvetica, sans-serif;
    max-height: 100vh;
    overflow: hidden;
    background-image: url(./images/Napalkov.svg) no-repeat;
}

.txt {
    color: #111;
    text-transform: uppercase;
    text-decoration: none;
}

.header {
    position: absolute;
    right: 10%;
    top: 8%;
}

.header__nav {
    
}

.header__menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.header__link {
    font-size: 1.2rem;
    margin-right: 3rem;
    cursor: pointer;
}

.header__link:hover {
    text-decoration: underline 3px solid #AE0000;
    text-underline-offset: 10px;
    transition: all 0.1s cubic-bezier(0.7, 1.01, 0.34, -0.39);
}


.profile__main-pic {
    max-width: 90vh;
}

.profile__info {
    position: absolute;
    right: 12%;
    top: 30%;
    text-align: center;
}

.profile__name {
    font-size: calc( (800vw)/(1280) * (24 - 16) + 16px);
    font-weight: 400;
    margin-bottom: auto;
}

.profile__sub-name {
    color: #AE0000;
    font-weight: 700;
    font-size: calc( (300vw)/(1280) * (24 - 16) + 16px);
}

.profile__add-button {
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    height: 58px;
    width: 285px;
    letter-spacing: 2px;
    height: 58px;
}


.footer {
    position: absolute;
    right: 45%;
    bottom: 2%;
}

.footer__copyright {
    color: #b2b2b2;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6rem;
    letter-spacing: 2px;
}

.moveBtn {
    height: 13vh;
    width: 13vh;
    position: fixed;
    z-index: 1000;
    background-color: #08080840;
    border-radius: 50vw;
}

.moveBtn:hover {
    background-color: #0808089a;
    transition: .2s ease-in-out;
}

.moveBtn:active {
    background-color: #fa00009a;
    transition: .2s ease-in-out;
}

.right {
    top: 45%;
    right: 8vw;
}

.left {
    top: 45%;
    left: 8vw; 
}

.popup, .popupCont {
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}



.popup_opened {
    display: flex;
}

.popup__form {
    display: flex;
    flex-direction: column;
    min-width: 70vw;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    padding: 34px 36px 36px;
    box-sizing: border-box;
    overflow: auto;
}

.popup__form::-webkit-scrollbar {
    display: none;
  }

.popup__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    max-width: 330px;
    padding-bottom: 54px;
}

.popup__close {
    border: none;
    background-image: url('../Napalkov.web/images/buttons/CloseIcon.svg');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: opacity .7s ease;
    position: absolute;
}

.container{
    width: 125%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
    padding-right: 40px;
}

.container .card .face{
    width: 60vh;
    height: 40vh;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(20vh);

}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 3.5vh;
    background-color: #00000042;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-20vh);
    border-radius: 0 0 10px 10px;
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 2.5vh;
    padding: 2vh 0;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

.content__text {
    margin-bottom: 50px;
    font-size: 2.5vh;
}

.content__button {

}

.popupCont__zone {
    display: flex;
    flex-direction: column;
}

.popupCont__icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.popupCont__icon {
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

.popupCont__icon:last-child {
    margin-right: 0;
}

.popupCont__phone {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.number {
    font-size: 50px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    width: auto;
    height: auto;
}

.tg {
    background-image: url(./images/buttons/Telegram_black.svg);
}

.inst {
    background-image: url(./images/buttons/Instagram_black.svg);
}

.tik {
    background-image: url(./images/buttons/TikTok_black.svg);
}

.vk {
    background-image: url(./images/buttons/VK_black.svg);
}

.what {
    background-image: url(./images/buttons/WhatsApp_black.svg);
}